html, body {
    background: rgb(243, 239, 180);
}

h1 {
    font-weight: 400;
    letter-spacing: -.1em;
}

.paper {
    margin: 60px auto;
}

.container:nth-child(1) {
    margin-bottom: 50px;
}

.container:last-child {
    margin-top: 30px;
}

.jumbotron {
    background: #fff;
}
